/*                                                                                        
    ___      ,---,                                                                              
  ,--.'|_  ,--.' |                                                           ,--,         ,---, 
  |  | :,' |  |  :      __  ,-.   ,---.           .---.             ,---.  ,--.'|       ,---.'| 
  :  : ' : :  :  :    ,' ,'/ /|  '   ,'\         /. ./|     .---.  '   ,'\ |  |,        |   | : 
.;__,'  /  :  |  |,--.'  | |' | /   /   |     .-'-. ' |   /.  ./| /   /   |`--'_        |   | | 
|  |   |   |  :  '   ||  |   ,'.   ; ,. :    /___/ \: | .-' . ' |.   ; ,. :,' ,'|     ,--.__| | 
:__,'| :   |  |   /' :'  :  /  '   | |: : .-'.. '   ' ./___/ \: |'   | |: :'  | |    /   ,'   | 
  '  : |__ '  :  | | ||  | '   '   | .; :/___/ \:     '.   \  ' .'   | .; :|  | :   .   '  /  | 
  |  | '.'||  |  ' | :;  : |   |   :    |.   \  ' .\    \   \   '|   :    |'  : |__ '   ; |:  | 
  ;  :    ;|  :  :_:,'|  , ;    \   \  /  \   \   ' \ |  \   \    \   \  / |  | '.'||   | '/  ' 
  |  ,   / |  | ,'     ---'      `----'    \   \  |--"    \   \ |  `----'  ;  :    ;|   :    :| 
   ---`-'  `--''                            \   \ |        '---"           |  ,   /  \   \  /   
                                             '---"                          ---`-'    `----'    
                                                                                                                                                                                 
*/
/**
  * @name superanxious
  * @author throwvoid
  * @version throw+V1
  * @description Highly customized pink and dark  theme for Discord by throwvoid
  * @source https://raw.githubusercontent.com/sultanstd/throwvoid-discord-theme/refs/heads/main/throwvoid%20source.css
  * @invite sMgwDx4wcQ
*/

/* 
  TO USE THE THEME WITH THE DEFAULT MEMBER LIST:
  → Comment out the first @import line below.
  → Then, uncomment the second @import line.
*/
@import url('https://raw.githubusercontent.com/throwvoid/throwvoid-discord-theme/refs/heads/main/throwvoid%20source.css');
/*@import url('https://raw.githubusercontent.com/throwvoid/throwvoid-discord-theme/refs/heads/main/throwvoid%20source.css');*/




:root {
  --darkplus-bg: #000000;
  --darkplus-bg2: rgb(8, 6, 6);
  --darkplus-sec: #ffffff;
  --darkplus-links: #ffffff;
  --darkplus-home-icon: url(https://i.ibb.co/4Zv0K2xt/New-Project.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
}



/**
*You can change the name by modifying the text on line 39<<<<<<<<<<<<<<<<<
*/
:root::before {
    content: "your name";
    position: fixed;
    top: -5px;
    left: 3px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 9999;
}





